* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

button {
    padding: 5px;
    border: 2px solid black;
    font-size: 15px;
    background-color: aqua;
    font-weight: 700;
}